body{
    background-color: darkgray;
    color: azure;
    max-width: 60em;
    margin: 0 auto;
}
img{
    width: 90%;
    height: 90%;
}
div{
    tezt-align: center;
}
p{
    fomt-family: monospace;
}