body{
    background-color: darkgray;
    color: azure;
    max-width: 60em;
    margin: 0 auto;
    fomt-family: monospace;
    text-align: center;
}
img{
    width: 100%;
    height: 100%;
}
h2{
    fomt-family: monospace;
}
h3{
    fomt-family: monospace;
}
p{
    fomt-family: monospace;
    font-weight: bold;
}